body {
  font-family: "Segoe UI", Arial, sans-serif; /* Fonte mais próxima ao design */
}

.fa {
  margin-right: 5px; /* Espaçamento entre ícones */
}

.custom-navbar {
  background-color: #012777;
  height: 100px; /* Ajuste a altura conforme necessário */
  position: relative;
}

.custom-navbar .navbar-brand img.navbar-logo {
  height: 150px; /* Ajuste a altura conforme necessário */
  max-height: 100%;
}

.custom-navbar .navbar-nav {
  margin-left: 20px; /* Centraliza os itens do menu */
}

.custom-navbar .nav-link:hover {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 2px;
}

@media (max-width: 767px) {
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    background-color: #000; /* Fundo escuro para a navbar colapsada */
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #ccc; /* Cor clara para itens da navbar colapsada */
  }

  .navbar-dark .navbar-toggler {
    border-color: #ccc; /* Cor da borda do botão hamburger */
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-link {
    color: white; /* Assegura que os links sejam brancos em fundo escuro */
  }
}

@media (max-width: 768px) {
  .custom-navbar .nav-link,
  .custom-navbar .navbar-brand {
    padding: 10px;
    font-size: 14px;
  }
  .custom-navbar .navbar-brand img.navbar-logo {
    height: 80px; /* Reduzir o tamanho do logo em telas menores */
  }
  .navbar-toggler {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .custom-navbar .navbar-nav {
    margin-left: 0;
  }
}

/* Para tablets */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .navbar-brand img {
    height: 60px;
  }
}

/* Para dispositivos móveis */
@media (max-width: 576px) {
  .navbar-nav {
    font-size: 12px;
  }
  .card-body {
    padding: 10px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container-principal {
  display: flex;
  justify-content: space-between; /* Espaço uniforme entre os elementos */
  width: 98vw;
}

.providencias h1 {
  font-size: 30px; /* Tamanho da fonte aumentado */
  margin-bottom: 10px; /* Espaço entre o título e a lista */
  margin-top: 3%;
}

.gerando-peticao h1 {
  font-size: 30px; /* Tamanho da fonte aumentado */
  margin-bottom: 10px; /* Espaço entre o título e o conteúdo */
  margin-top: 1%;
}

.providencias {
  color: rgb(0, 0, 0);
  align-items: center;
  padding: 10px; /* Reduzido para economizar espaço */
  margin-bottom: 5px;
  font-size: 20px; /* Fonte reduzida para economizar espaço */
  display: flex;
  flex-direction: column;
  width: 40%;
}

.status {
  font-weight: bold;
  font-size: 20px;
}

.gerando-peticao {
  display: flex;
  padding: 20px 0 20px 20px;
  border-left: 4px solid black; /* Linha que separa as colunas */
  margin-bottom: 20px;
  text-align: center;
  width: 55%;
}

.left {
  width: 70%;
}

.button-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaço entre os botões e o botão cancelar */
  margin-left: 10px;
}

.button-group {
  display: flex;
  flex-direction: column !important;
  justify-content: space-around; /* Espaçamento uniforme entre os botões */
  width: 100%; /* Utiliza toda a largura disponível */
  margin-bottom: 20px; /* Espaço entre os botões principais e o botão cancelar */
}

.button-cancel {
  width: 100%; /* Alinha o botão Cancelar à largura do contêiner */
}

.btn {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 15px; /* Ajuste conforme necessário para melhor toque */
  margin-right: 10px; /* Espaço entre os botões */
  flex-grow: 1; /* Faz cada botão crescer igualmente */
}

.btn-cancel {
  background-color: red; /* Cor destacada para o botão Cancelar */
  width: 100%; /* Faz o botão Cancelar usar toda a largura */
}

.gerando-peticao pre {
  font-family: "Courier New", Courier, monospace; /* Mantém a fonte monoespaçada */
  white-space: pre-wrap; /* Mantém os espaçamentos e quebras de linha */
  word-wrap: break-word; /* Permite quebra de palavras se necessário */
  background-color: #f8f9fa; /* Cor de fundo */
  border: 1px solid #ccc; /* Borda cinza */
  padding: 20px; /* Espaçamento interno */
  overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
  max-width: 100%; /* Garante que não ultrapasse a largura do contêiner */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Coloca os itens em coluna em telas menores */
  }

  .providencias,
  .gerando-peticao {
    width: 100%; /* Faz cada seção ocupar a largura total em telas pequenas */
  }
}

@media (max-width: 768px) {
  .button-group {
    flex-direction: column; /* Empilha os botões verticalmente em telas pequenas */
  }
  .btn {
    margin-bottom: 10px; /* Espaço entre os botões quando empilhados */
  }
}

.nav-link.active {
  color: #ff0000; /* Muda a cor para vermelho, ou qualquer cor que destaque */
  font-weight: bold; /* Opcionalmente, torna o texto em negrito */
}

.button-group {
  display: flex;
  flex-direction: row; /* Altera a direção dos botões para horizontal */
  justify-content: space-around; /* Distribui os botões uniformemente na coluna */
  width: 100%; /* Ajusta a largura para preencher a coluna */
  padding-right: 20px; /* Adiciona espaço no final para evitar sobreposição */
}

.button-cancel {
  width: 100%; /* Mantém o botão Cancelar em toda a largura */
  margin-top: 20px; /* Adiciona espaço acima do botão Cancelar */
}

.btn {
  margin-right: 10px; /* Espaçamento entre botões */
}
