body {
  font-family: "Segoe UI", Arial, sans-serif; /* Fonte mais próxima ao design */
}

.fa {
  margin-right: 5px; /* Espaçamento entre ícones */
}

.custom-navbar {
  background-color: #012777;
  height: 100px; /* Ajuste a altura conforme necessário */
  position: relative;
}

.custom-navbar .navbar-brand img.navbar-logo {
  height: 150px; /* Ajuste a altura conforme necessário */
  max-height: 100%;
}

.custom-navbar .navbar-nav {
  margin-left: 20px; /* Centraliza os itens do menu */
}

.custom-navbar .nav-link:hover {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 2px;
}

@media (max-width: 767px) {
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    background-color: #000; /* Fundo escuro para a navbar colapsada */
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #ccc; /* Cor clara para itens da navbar colapsada */
  }

  .navbar-dark .navbar-toggler {
    border-color: #ccc; /* Cor da borda do botão hamburger */
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-link {
    color: white; /* Assegura que os links sejam brancos em fundo escuro */
  }
}

@media (max-width: 768px) {
  .custom-navbar .nav-link,
  .custom-navbar .navbar-brand {
    padding: 10px;
    font-size: 14px;
  }
  .custom-navbar .navbar-brand img.navbar-logo {
    height: 80px; /* Reduzir o tamanho do logo em telas menores */
  }
  .navbar-toggler {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .custom-navbar .navbar-nav {
    margin-left: 0;
  }
}

/* Para tablets */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .navbar-brand img {
    height: 60px;
  }
}

/* Para dispositivos móveis */
@media (max-width: 576px) {
  .navbar-nav {
    font-size: 12px;
  }
  .card-body {
    padding: 10px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.page-title {
  text-align: center;
  margin-top: 20px;
}

.search-section h2,
.lawyers-section h2 {
  background-color: #0047ab;
  color: white;
  padding: 10px;
}

.search-results .result-item {
  background-color: #e0e0e0;
  border: 1px solid #000;
  padding: 10px;
  margin-top: 5px;
}

.lawyers-section {
  background-color: #f0f0f0;
  padding: 10px;
}

/* Estilos para garantir que a seção de advogados esteja corretamente formatada */
.lawyers-section .lawyer-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.lawyers-section .lawyer-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.lawyers-section .lawyer-item .name {
  font-weight: bold;
}

.next-button {
  padding: 7px 33px; /* Ajuste de padding para maior área de clique */
  display: flex;
  position: absolute; /* Posicionamento absoluto */
  bottom: 30px; /* Espaço do fundo do contêiner */
  right: 600px; /* Espaço da direita do contêiner */
  background-color: orange;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.nav-link.active {
  color: #ff0000; /* Muda a cor para vermelho, ou qualquer cor que destaque */
  font-weight: bold; /* Opcionalmente, torna o texto em negrito */
}

.btn-orange {
  background-color: orange; /* Botão laranja para 'Próximo' */
  color: rgb(0, 0, 0);
  padding: 10px 0;
  width: 110%;
  border: none;
}
